@model List<Apollo.ASPNetCore.Module4.RestaurantReviews.Models.Restaurant>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        table, th, td {
            border: 1px groove;
        }
        th {
            background-color: lightgray;
        }
        tr {
            
        }
    </style>
    <title></title>
</head>
<body>
    <table>
        <thead>Restaurants</thead>
        <tr></tr>
        <tr>
            <th>Restaurant Name</th>
            <th>Location</th>
        </tr>
        @foreach (var restaurant in @Model)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.Location</td>
            </tr>
        }
    </table>
</body>
</html>