<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!-- Settings for Service Repository -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPeopleService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52494/ServiceRepo.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IPeopleService" contract="ServiceReference1.IPeopleService"
          name="BasicHttpBinding_IPeopleService" />
    </client>
  </system.serviceModel>
  <!-- Settings for CSV Repository -->
  <appSettings>
    <add key="CSVFileName" value="People.txt"/>
  </appSettings>
</configuration>