<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPeopleService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52494/ServiceRepo2.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPeopleService" contract="ServiceReference2.IPeopleService"
                name="BasicHttpBinding_IPeopleService" />
        </client>
    </system.serviceModel>
</configuration>