<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!-- Settings for Service Repository -->
  <appSettings>
    <add key="RepositoryType" value="Apollo.DIOnRamp.Module1.People.SVC.ServiceRepo2, 
         Apollo.DIOnRamp.Module1.People.SVC, Version=1.0.0.0, Culture=neutral"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPeopleService" />
      </basicHttpBinding>
    </bindings>
    
  </system.serviceModel>
  <!-- Settings for CSV Repository -->
  <!--<appSettings>
    <add key="RepositoryType" value="Apollo.CSInterfaces.Module4.CSVRepository.CS.CSVRepo, 
         Apollo.CSInterfaces.Module4.CSVRepository.CS, Version=1.0.0.0, Culture=neutral"/>
    <add key="CSVFileName" value="People.txt"/>
  </appSettings>-->

</configuration>