<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!-- Settings for Service Repository -->
  <appSettings>
    <add key="RepositoryType" value="Apollo.CSInterfaces.Module4.ServiceRepository.CS.ServiceRepo2, 
         Apollo.CSInterfaces.Module4.ServiceRepository.CS, Version=1.0.0.0, Culture=neutral"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPeopleService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52494/ServiceRepo2.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IPeopleService" contract="ServiceReference2.IPeopleService"
          name="BasicHttpBinding_IPeopleService" />
    </client>
  </system.serviceModel>
  <!-- Settings for CSV Repository -->
  <!--<appSettings>
    <add key="RepositoryType" value="Apollo.CSInterfaces.Module4.CSVRepository.CS.CSVRepo, 
         Apollo.CSInterfaces.Module4.CSVRepository.CS, Version=1.0.0.0, Culture=neutral"/>
    <add key="CSVFileName" value="People.txt"/>
  </appSettings>-->

</configuration>